@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", serif;
    font-size: 12px;
}

.flexible {
    display: flex;
    flex-wrap: wrap;
}

.align {
    align-items: center;
}

.between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.jumbotron {
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
    padding: 42px 45px;
}

.navigation-container {
    width: 80%;
    max-width: 80%;
    margin: 20px auto;
}

.nav-lists {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 36px;
}

.nav-lists li a {
    text-decoration: none;
    color: rgba(20, 20, 20, 1);
}

.nav-lists li a.active {
    color: rgba(0, 101, 254, 1);
}

.page-button {
    background: transparent;
    padding: 12px 24px;
    border: none;
    border-radius: 100px;
    color: rgba(0, 101, 254, 1);
    font-size: 12px;
}

.page-button.class-blue {
    background-color: rgba(0, 101, 254, 1);
    color: rgba(255, 255, 255, 1);
}

.brand {
    width: 15%;
    max-width: 15%;
}

.brand img {
    width: 100%;
}

.description {
    max-width: 100%;
    text-align: center;
}

.description h2 {
    font-size: 32px;
    word-wrap: break-word;
    font-weight: 700;
    line-height: 1.7;
    margin-bottom: 24px;
}

.description h2 span.title-styled {
    color: rgba(0, 101, 254, 1);
    position: relative;
}

.description h2 span.title-styled::before {
    content: "";
    top: 21px;
    left: 0;
    width: 100%;
    background-image: url("../images/stroke.png");
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    height: 56px;
}

.description p {
    line-height: 1.5;
    margin-bottom: 32px;
}